<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Travel Quiz</h1>
  <h4>Where are you traveling?</h4>
  <ion-item>
    <!--<ion-input required type="text" placeholder="Country"></ion-input>-->
  <ion-label>Country</ion-label>
    <ion-select value="croatia" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="croatia">Croatia</ion-select-option>
      <ion-select-option value="france">France</ion-select-option>
      <ion-select-option value="italy">Italy</ion-select-option>
      <ion-select-option value="ukraine">Ukraine</ion-select-option>
    </ion-select>
  </ion-item>
  <h4>What time of year are you going?</h4>
  <ion-item>
    <ion-label>Season</ion-label>
    <ion-select value="spring" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="spring">Spring</ion-select-option>
      <ion-select-option value="summer">Summer</ion-select-option>
      <ion-select-option value="fall">Fall</ion-select-option>
      <ion-select-option value="winter">Winter</ion-select-option>
    </ion-select>
  </ion-item>
  <h4>What would you like to do?</h4>
  <ion-item>
    <ion-label>Interests</ion-label>
    <ion-select value="art" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="art">Art & Museums</ion-select-option>
      <ion-select-option value="food">Food & Drink</ion-select-option>
      <ion-select-option value="family">Family Friendly</ion-select-option>
      <ion-select-option value="shopping">Shopping</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button color="primary" href="/tabs/(trips:trips)">Submit</ion-button>
</ion-content>
