<ion-header>
  <ion-toolbar>
    <ion-title>Intineraries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        <a href="/tabs/(croatia:croatia)"><h2>Croatia</h2></a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <a href="/tabs/(france:france)"><h2>France</h2></a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <a href="/tabs/(italy:italy)"><h2>Italy</h2></a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <a href="/tabs/(ukraine:ukraine)"><h2>Ukraine</h2></a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
