<ion-header>
  <ion-toolbar>
    <ion-title>Europe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Albania</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Andorra</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Austria</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Belarus</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Belgium</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Bosnia & Herzegovina</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Bulgaria</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><b>Croatia</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Cyprus</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Czech Republic</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Denmark</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Estonia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Finland</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><b>France</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Germany</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Greece</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Hungary</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Iceland</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Ireland</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><b>Italy</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Kosovo</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Latvia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Liechtenstein</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Lithuania</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Luxembourg</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Macedonia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Malta</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Moldova</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Monaco</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Montenegro</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Netherlands</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Norway</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Poland</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Portugal</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Romania</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Russia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>San Marino</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Serbia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Slovakia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Slovenia</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Spain</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Sweden</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Switzerland</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Turkey</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><b>Ukraine</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>United Kingdom</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Vatican City</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
